dash>=2.14
dash-bootstrap-components
plotly>=5.18

pandas>=1.5
numpy>=1.23

requests>=2.31
urllib3>=1.26

folium>=0.14
branca>=0.6

geopandas>=0.13
shapely>=2.0
pyproj>=3.6

networkx>=3.0
osmnx>=1.8

xarray>=2023.1
netCDF4>=1.6
gdown>=4.7

matplotlib>=3.7

pydeck>=0.8
